# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Datos locales (opcional: quitar si quieren versionar CSV pequeños)
# urban_flow/data/raw/*.csv
# urban_flow/data/interim/*.csv

# IDE
.idea/
.vscode/
